*{
    padding: 0;
    margin: 0;
    /* border: 1px dashed orangered; */
}

body{
    padding: 0 20px;
    background-color: whitesmoke;
}

header{
    width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0aa4e0;
    padding: 0 20px;

}

header > h1,h4,a{
    color: white;
    margin: 10px;
}

#bigcolumn{
    background-color:white;
    width: 900px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

main{
    flex-direction: column;
}


h1,h2,h3,h4, h5,a, form {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.titulo{
    margin: 20px 0;
    color: #0aa4e0;
}

a{
    margin-top: 15px;
}

.flexbox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.lighter{
    font-weight: lighter;
}


#user{
    margin: 10px
}


#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0aa4e0;
    color: white;
}
